


@import "tailwindcss";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}